* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar {
  margin-top: 10px;
  height: 10px;
  width: 9px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(115, 115, 115);
}
