.article-container .slick-prev,
.article-container .slick-next {
  pointer-events: none;
}

.article-container .slick-prev::before,
.article-container .slick-next::before {
  display: none;
}
.article-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.article-card {
  position: relative;
  width: 100%;
  height: 422px;
}

.article-left {
  position: relative;
  width: 60%;
  height: 450px;
  padding: 10px 10px 0 20px;
}

.article-left .slick-dots {
  position: absolute;
  bottom: 80px;
}

.article-left .slick-dots li {
  margin: 0 7px;
}

.article-left .slick-dots li button::before {
  font-size: 12px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: gray;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.article-left .slick-dots li.slick-active button:before {
  font-size: 12px;
  color: #8a2be2;
  width: 20px;
  height: 12px;
  background-color: rgb(255, 70, 158);
  border-radius: 20px;
  border: 2px solid #ffffff;
  opacity: 1;
}

.article-card-img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.article-card-img img {
  object-position: center;
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.article-card-link {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 20px;
}

.article-right {
  width: 38%;
  height: 450px;
  padding: 16px 5px 0 5px;
}

.article-right-card-container {
  position: relative;
  width: 100%;
  border-radius: 20px;
}

.article-right-card-img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.article-right-card-img img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.article-right-card-link {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 20px;
}

.row-article-list-bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.article-card-list {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.article-card-list-img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.article-card-list-img img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.article-card-list-title {
  font-size: 19px;
  font-weight: 700;
  margin-top: 10px;
  color: black;
}

.article-card-list-content {
  font-size: 17px;
  color: rgb(134, 133, 133);
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article-card-list-uploadDate {
  font-size: 15px;
  color: rgb(134, 133, 133);
  margin: 0 10px;
  text-align: right;
}

.article-list-container .content-row-1 {
  min-height: 90vh;
}

/* =========================Staff================================= */

.manage-article-container .slick-prev,
.article-container .slick-next {
  pointer-events: none;
}

.manage-article-container .slick-prev::before,
.manage-article-container .slick-next::before {
  display: none;
}
.manage-article-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.manage-article-card {
  position: relative;
  width: 100%;
  height: 422px;
}

.manage-article-left {
  position: relative;
  width: 60%;
  height: 450px;
  padding: 10px 10px 0 20px;
}

.manage-article-left .slick-dots {
  position: absolute;
  bottom: 80px;
}

.manage-article-left .slick-dots li {
  margin: 0 7px;
}

.manage-article-left .slick-dots li button::before {
  font-size: 12px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: gray;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.manage-article-left .slick-dots li.slick-active button:before {
  font-size: 12px;
  color: #8a2be2;
  width: 20px;
  height: 12px;
  background-color: rgb(255, 70, 158);
  border-radius: 20px;
  border: 2px solid #ffffff;
  opacity: 1;
}

.manage-article-card-img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.manage-article-card-img img {
  object-position: center;
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.manage-article-card-link {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 20px;
}

.manage-article-right {
  width: 38%;
  height: 450px;
  padding: 16px 5px 0 5px;
}

.manage-article-right-card-container {
  position: relative;
  width: 100%;
  border-radius: 20px;
}

.manage-article-right-card-img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.manage-article-right-card-img img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.manage-article-right-card-link {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 20px;
}

.manage-row-article-list-bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.manage-article-card-list {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.manage-article-card-list-img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.manage-article-card-list-img img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.manage-article-card-list-title {
  font-size: 19px;
  font-weight: 700;
  margin-top: 10px;
  color: black;
}

.manage-article-card-list-content {
  font-size: 17px;
  color: rgb(134, 133, 133);
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.manage-article-card-list-uploadDate {
  font-size: 15px;
  color: rgb(134, 133, 133);
  margin: 0 10px;
  text-align: right;
}

.manage-article-list-container .content-row-1 {
  min-height: 90vh;
}
