.staff-chat {
  height: 535px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #b3b1b3;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex-grow: 1;
}

.staff-chat p{
  padding: 20px 0 0 30px;
  font-size: 20px;
}

.staff-chatbox {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}

.chat-messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message.self {
  justify-content: flex-end;
}

.message .avatar {
  display: none;
}

.message-data {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  background-color: #e6e6e6;
}

.message.self .message-data {
  background-color: #757576;
  color: #fff;
}

.staff-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.staff-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-right: 10px;
}

.staff-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1e272e;
  color: #fff;
  cursor: pointer;
}

/* Customer không có phần này */

.customer-list {
  padding: 20px;
  width: 300px;
  height: 535px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #b3b1b3;
  margin: 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.customer-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.customer-list li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.customer-list li:hover {
  background-color: #e6e6e6;
  transform: scale(1.02);
}

.customer-list li.active {
  background-color: #a7c9e5;
  border-color: #5a95c6;
  font-weight: bold;
  color: #2d3436;
}

.standing-by {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 70px;
}

.standing-by h3 {
  margin-bottom: 30px;
}

.staff-unread-chat{
  font-weight: 900;
  color: black;
}

/* ============================== CUSTOMER ============================== */

.cus-chat {
  width: 100%;
  min-width: 1000px;
  height: 535px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid palevioletred;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.cus-chatbox {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 1px solid hotpink;
}

.cus-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cus-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.cus-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff469e;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.cus-message-data {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  background-color: #e6e6e6;
}

.message.self .cus-message-data {
  background-color: hotpink;
  color: #fff;
}
