.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 1000;
  background-color: white;
  width: 200px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.dropdown-item:active {
  background-color: #f5f5f5;
  cursor: pointer;
  color: black;
}

.dropdown-menu-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.dropdown-menu-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

#dropdown-basic {
  background-color: #ffb4e684 !important;
  border: none !important;
}

/* =================================Staff========================================= */

.manage-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 1000;
  background-color: white;
  width: 200px;
}

.manage-dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.manage-dropdown-item {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
}

.manage-dropdown-item:hover {
  background-color: white;
  cursor: pointer;
}

.manage-dropdown-item:active {
  background-color: white;
  cursor: pointer;
  color: black;
}

.manage-dropdown-menu-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.manage-dropdown-menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.manage-dropdown-menu-exit {
  opacity: 1;
  transform: translateY(0);
}

.manage-dropdown-menu-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

.manage-dropdown-basic {
  background-color: black !important;
  border: none !important;
}

#manage-dropdown-basic {
  background-color: #ffffff;
}
