header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 20px;
  color: #ff469e;
  width: 100%;
  min-width: 1350px;
}

.home-page {
  height: 200vh;
}

.store-name {
  min-width: 180px;
  margin-left: 40px;
}

.store-name {
  min-width: 180px;
  margin-left: 40px;
}

.store-name img {
  font-family: "Courgette", cursive;
  font-size: 27px;
  text-decoration: none;
  font-weight: 600;
  width: 162px;
}

.search-bar {
  display: flex;
  /* justify-content: space-between; */
  /* margin: 0 auto; */
  font-size: 22px;
  font-weight: bold;
  margin-left: 250px;
  width: 80%;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #ff469e;
  font-size: 15px;
  outline: none;
  box-shadow: 0 0px 5px 0px #706f6faf;
  min-width: 600px;
}

.content {
  display: flex;
  min-width: 1350px;
  background-color: rgb(255, 240, 252);
}

.side-bar {
  width: 17%;
  height: 100%;
  background-color: white;
  font-size: 15px;
  padding: 0 10px;
  padding-bottom: 10px;
  margin: 20px 20px;
  box-shadow: 0 0 5px #6c6b6b8f;
  border-radius: 20px;
  min-width: 235px;
  position: sticky;
  top: 110px;
}

.profile-icon {
  margin: 20px 0;
}

.profile-icon svg {
  width: 100%;
  height: 80px;
  color: black;
}

.profile-name,
.profile-point {
  margin: 15px 0;
  overflow: hidden;
  text-align: center;
  color: black;
}

.profile-name p,
.profile-point p {
  background-color: rgba(235, 208, 231, 0.334);
  margin: 0;
  border-radius: 10px;
  padding: 5px 10px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 15px 10px;
  margin-bottom: 11px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  border: 1px solid #9fa0a0b0;
}

.nav-bar a svg {
  margin: 10px;
}

.nav-bar a:hover {
  background-color: #f0c3e477;
}

.profile {
  width: 100%;
  background-color: rgba(255, 254, 254, 0.78);
}

.search-icon,
.search-bar input {
  height: 50px;
}

.search-icon {
  min-width: 70px;
}

.search-icon button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #ff469e;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0px 5px 0px #706f6faf;
}

.search-icon img {
  width: 35%;
  height: 50%;
}

.content-detail {
  width: 80%;
  background-color: rgb(255, 240, 252);
  padding: 20px 10px 20px 0;
}

.content-display {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-row-1,
.content-row-2,
.content-row-3 {
  min-width: 1000px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

.content-row-3 {
  padding-bottom: 20px;
}

.row-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px 0 10px;
  margin-bottom: 20px;
}

.row-top h4 {
  font-size: 30px;
  font-family: "MuseoModerno";
  font-weight: 600;
  margin-left: 20px;
}

/* =================================Staff========================================= */

header.manage-header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1e272e;
  padding: 20px;
  width: 100%;
  min-width: 1350px;
}

.manage-home-page {
  height: 200vh;
}

.manage-header img {
  width: 162px;
  margin-left: 40px;
}

.manage-search-bar {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  margin-left: 250px;
  width: 80%;
}

.manage-search-bar input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border-top: 2px solid #1e272e;
  border-left: none;
  border-bottom: 2px solid #1e272e;
  border-right: none;
  font-size: 15px;
  outline: none;
  min-width: 600px;
}

.manage-content {
  display: flex;
  min-width: 1350px;
  background-color: #f5f6fa;
}

.manage-side-bar {
  width: 17%;
  height: 100%;
  background-color: white;
  font-size: 15px;
  padding: 0 10px;
  padding-bottom: 10px;
  margin: 20px 20px;
  box-shadow: 0 0 5px #6c6b6b8f;
  border-radius: 20px;
  min-width: 230px;
  position: sticky;
  top: 0;
}

.manage-nav-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.manage-nav-bar a {
  text-decoration: none;
  color: #dfe6e9;
  font-size: 15px;
  padding: 15px 10px;
  margin-top: 11px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #636e72;
}

.manage-nav-bar a:hover {
  background-color: #f1f2f6;
}

.manage-search-icon,
.manage-search-bar input {
  height: 50px;
}

.manage-search-icon {
  min-width: 70px;
}

.manage-search-icon button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  background-color: white;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
  border: 2px solid #1e272e;
}

.manage-search-icon img {
  width: 35%;
  height: 50%;
}

.manage-content-detail {
  width: 80%;
  background-color: #f5f6fa;
  padding: 20px 10px 20px 0;
}

.manage-content-display {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.manage-content-row-1,
.manage-content-row-2,
.manage-content-row-3 {
  min-width: 1000px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

.manage-content-row-3 {
  padding-bottom: 20px;
}

.manage-row-1-top,
.manage-row-3-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px 0 10px;
  margin-bottom: 20px;
}

.manage-row-1-top h4,
.manage-row-3-top h4 {
  font-size: 30px;
  font-family: "MuseoModerno";
  font-weight: 600;
  margin-left: 20px;
}
