.manage-content {
    display: flex;
    min-width: 1350px;
    background-color: #f5f6fa;
}

.manage-content-detail {
    background-color: #f5f6fa;
    padding: 20px 20px 20px 0;
}

.manage-content-detail {
    width: 80%;
    height: 100%;
    background-color: #f5f6fa;
    padding: 20px 20px 20px 0;
}

.manage-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.manage-table-none {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.manage-table thead,
.manage-table-none thead {
    background-color: #f2f2f2;
    color: #2d3436;
}

.manage-table th,
.manage-table td,
.manage-table-none th,
.manage-table-none td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}

.active-head,
.active-body,
.update-head,
.update-body,
.stock-head,
.stock-body,
.brand-head,
.brand-body,
.index-head,
.index-body,
.name-head,
.img-head,
.img-body,
.date-head,
.date-body,
.content-head,
.limit-head,
.limit-body,
.type-head,
.description-head,
.startDate-head,
.startDate-body,
.endDate-head,
.endDate-body,
.point-body,
.sellingPrice-head,
.sellingPrice-body,
.lastModified-head,
.usernam-head,
.name-head,
.mail-head,
.phone-head,
.detail-head,
.regisDate-head,
.createdDate-head,
.status-head,
.orderId-head,
.detail-body,
.regisDate-body,
.username-head,
.point-head,
.point-body {
    text-align: center;
    vertical-align: middle;

}

.update-link {
    color: #7f8c8d;
    transition: color 0.3s;
}

.update-link:hover {
    color: #1f272f;
}

.staff-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #636e72;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

.staff-back-to-top:hover {
    background-color: #1e272e;
}

.manage-pagination {
    margin-top: 20px;
}

.manage-pagination button {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
  }
  
  .manage-pagination button:hover {
    background-color: rgb(220, 220, 220);
  }
  
  .manage-pagination button.active {
    background-color:  rgb(220, 220, 220); 
  }

.search-add-table {
    display: flex;
    justify-content: space-between;
}

.add-product-link {
    margin-bottom: 20px;
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border: 2px solid #5a95c6;
    font-weight: 600;
    color: #2d3436;
    text-decoration: none;
    background-color: #a7c9e5;
    border-radius: 10px;
}

.add-product-link:hover {
    background-color: #86bae4;
    ;
    border: 1px solid #5a95c6;
}

.manage-button-search-bar button{
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 15px;
    width: 140px;
    height: 50px;
    padding: 8px;
    text-align: center;
    border: 1px solid #ffff;
    color: #808080;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: #ffff;
    box-shadow: 0 0px 5px 0px #706f6faf;
}

.manage-button-search-bar button:hover{
    background-color: #F2F2F2;
    border: 1px solid #e3e3e3;
}

.table-search-bar {
    display: flex;
    font-size: 22px;
    font-weight: bold;
}

.table-search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 15px;
    outline: none;
    box-shadow: 0 0px 5px 0px #706f6faf;
    width: 500px;
}

.table-search-icon,
.table-search-bar input {
    height: 50px;
}

.table-search-icon {
    width: 70px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0px 5px 0px #706f6faf;
    border: none;
}

.table-search-icon img {
    width: 35%;
    height: 50%;
}

.table-search-icon:hover {
    background-color: #ccc;
}

.add-update-content-detail {
    flex-grow: 1;
}

.manage-form-input {
    padding: 20px 20px 20px 20px;
    border: 1px solid #b3b1b3;
    border-radius: 10px;
    margin: 20px 10px 20px 10px;
}

.manage-form-group button {
    width: 70px;
}

.manage-form-group,
.manage-form-group img {
    margin: 0 10px 30px 10px;
    color: #3c3e3e;
}


.manage-form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: 550;
}

.manage-form-control select,
.manage-form-control textarea,
.manage-form-control input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.manage-form-control-img {
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}

.manage-form-type-control select {
    width: 85%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.manage-form-control img {
    width: 20%;
    height: 20%;
    margin-right: 15px;
}

.manage-form-type-voucher-control {
    display: flex;
}

.manage-form-type-voucher-control button {
    width: 20%;
}

.manage-form-type-voucher-control button.selected {
    background-color: #c0bfbf;
}

.save-manage-link,
.cancel-manage-link {
    margin-bottom: 20px;
    margin-top: 30px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    border: 2px solid #656464;
    font-weight: 600;
    color: #2d3436;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 10px;
}

.cancel-manage-link {
    width: 120px;
    height: 50px;
    margin-left: 30px;
}

.save-manage-link {
    width: 150px;
    height: 50px;
    background-color: #a7c9e5;
    border: 2px solid #5a95c6;
}

.save-manage-link:hover {
    background-color: #86bae4;;
    border: 1px solid #5a95c6;
}


.cancel-manage-link:hover {
    background-color: #ddd;
    border: 1px solid #ccc;
}

.manage-form-btn {
    display: flex;
}

.manage-dialog-title {
    display: flex;
    justify-content: center;
}

.hidden-select {
    display: none;
}

