.manage-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10%;
}
  
thead {
    background-color: #f2f2f2;
    color:#2d3436;
}
  
th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
    /* background-color: white; */
}

.active-head,
.active-body,
.update-head,
.update-body,
.stock-head,
.stock-body,
.brand-head,
.brand-body,
.index-head,
.index-body,
.name-head,
.img-head,
.img-body{
    text-align: center; 
    vertical-align: middle;
}

.img-body img{
    width: 30%;
    height: 30%;
}