.profile-content-tbl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 20px;
}

.profile-content-detail {
  border: 2px solid pink;
  width: 60%;
  padding: 20px 20px;
  border-radius: 20px;
}

.profile-content-detail-description {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.profile-content-detail-description-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.profile-content-detail-description-item h5 {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.profile-adjust {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  width: 60%;
  padding: 20px 0;
  border-radius: 20px;
}
