.filter-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 15px 0;
  border-radius: 20px;
}

.filter-row button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #b3b1b3;
  border-radius: 10px;
  padding: 10px 20px;
}

.filter-row button:hover {
  background-color: #f1f1f1;
}

.search-product-container {
  background-color: white;
  margin-top: 20px;
  min-height: 100vh;
  border-radius: 20px;
  padding: 10px 20px;
}
