.voucher-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #fdebf2;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 100px;
}

.voucher-item-right {
  margin: 0 5px 0 50px;
}

.voucher-container {
  height: 450px;
  overflow: scroll;
  overflow-x: hidden;
  color: rgba(154, 149, 149, 0.817);
  padding-right: 10px;
  padding-left: 15px;
}

.voucher-disabled {
  background-color: rgba(234, 225, 225, 0.894);
}

.voucher-description {
  font-size: 12px;
}

.voucher-name {
  color: #ae0258;
}

.voucher-disabled .voucher-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(91, 88, 88);
}

.voucher-disabled .voucher-description {
  font-size: 12px;
  color: rgb(164, 159, 159);
}
